<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">


     <!--*************************** controller bean ***************-->
    <context:component-scan base-package="com.controllers"></context:component-scan>
    <context:component-scan base-package="Entities"></context:component-scan>
    <context:component-scan base-package="RestApiController"></context:component-scan>

    <mvc:annotation-driven></mvc:annotation-driven>
    <context:annotation-config></context:annotation-config>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/view/"></property>
        <property name="suffix" value=".jsp"></property>

    </bean>
    <!-- for css and js design  -->
    <mvc:resources mapping="/resources/**" location="/WEB-INF/resources/" />


    <!-- ****************************** To Define Class Interceptor in Your Application ******** -->

    <!-- <mvc:interceptors> -->
    <!-- <bean class="Interceptor.DayOfWeekInterceptor"></bean> -->
    <!-- </mvc:interceptors> -->

    <!-- ***** *************************  to collect all interceptor ******* -->
    <mvc:interceptors>
        <!-- *********** specific interceptor ************ -->
        <mvc:interceptor>

            <!-- mapping path that you want to make and execute this interceptor class -->
            <mvc:mapping path="/" />
            <!-- /spring/submitform.html -->
            <bean class="Interceptor.DayOfWeekInterceptor"></bean>

        </mvc:interceptor>

    </mvc:interceptors>


    <!-- ******************* properties file configuration ************************* -->
    <!--<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">-->
        <!--&lt;!&ndash;<property name="basename" value="webapp/WEB-INF/messages"></property>&ndash;&gt;-->
        <!--<property name="basenames" >-->
            <!--<list >-->
                    <!--<value>message</value>-->
            <!--</list>-->

        <!--</property>-->
           <!--</bean>-->

<!--************************************** Exception Handle ******************************-->
    <bean id="simpleMappingExceptionResolver" class=
            "org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <map>
                <entry key="NullPointerException" value="NullPointerException"/>
                <entry key="IOException" value="IOException"/>
                <entry key="ArithmeticException" value="ArithmeticException"/>

            </map>
        </property>

        <!-- See note below on how this interacts with Spring Boot -->
        <property name="defaultErrorView" value="error"/>

        <!-- Name of logger to use to log exceptions. Unset by default,
               so logging is disabled unless you set a value. -->
        <property name="warnLogCategory" value="example.MvcLogger"/>
    </bean>






</beans>

